@font-face {
    font-family: myFirstFont;
    src: url("../../assets/fonts/gan/ganclm_bold-webfont.ttf");
  }
.p-wellcome{
    font-family: myFirstFont,'Goblin One', cursive;;
    text-align: center;
    direction: rtl;
    height: 100vh;
    background: url('../../assets/images/pawel-czerwinski-OG44d93iNJk-unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.p-wellcome > .p-text-content {
  background-color: rgb(255, 255, 255,0.2);
  border-radius: 2.25rem;
}
.paint-il{
    font-size: 2.5rem;
}

.wellcome-bg{
    width: 100%;
}
.p-wellcome > .signup-buttons{
display: flex;
justify-content: center;
}

p{
  margin: 20px !important;
}
.to-signup{
  font-size: 1.5rem;
}