.p-creation-details{
    text-align: right;
    direction: rtl;
    font-family: myFirstFont;
    height: 100vh;
    background-image: linear-gradient(rgba(235, 209, 213,0.5) , rgba(235, 250, 213,0.5) ,rgba(200, 209, 250,0.2) ,white);
}

.paint{
    width: 100%;
}

.paint-name{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.details{
    padding: 10px;
    font-size: 1.2rem;
}

.buttons-row{
    padding: 10px;
}
.btn {
    margin: 5px !important;
}

.price{
    font-size: 1.4rem;
    color: tomato;
    padding-right: 40%;
    margin-top: 30px !important;
}
.color-types-carusale{
    width: 50% !important;
}