.p-creation-details{
    text-align: right;
    direction: rtl;
    font-family: myFirstFont,'Goblin One', cursive;
    height: 100vh;
    background-image: linear-gradient(rgba(235, 209, 213,0.5) , rgba(235, 250, 213,0.5) ,rgba(200, 209, 250,0.2) ,white);
}

.p-creation-details .paint , .modal-body > .paint{
    width: 100%;
    margin-bottom: 10px;
}

.p-creation-details .paint-name{
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.p-creation-details .details{
    padding: 10px;
    font-size: 1.2rem;
}

.p-creation-details .buttons-row{
    padding: 10px;
}
.p-creation-details .btn {
    margin: 5px !important;
}

.p-creation-details .price{
    font-size: 1.4rem;
    color: tomato;
    padding-right: 40%;
    margin-top: 30px !important;
}
.p-creation-details .color-types-carusale{
    width: 50% !important;
}

.p-creation-details .eng.email-send{
    font-size: 1rem;
}