.carouselContainer{
    width: 100%;
}
h4{
    color:black;
    position:absolute;
    font-size: 1rem;
    
}
img.carouselImg{
    width:100%;
    opacity:0.7;
    border: 2px inset;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  outline: none;
  background-image: none;
  margin: 5px;
}

.carousel-control-prev-icon {
    background-image: url("./../../assets/icons/arrow-left-circle.svg") !important;
    padding-right: 10%;
}

.carousel-control-next-icon {
    background-image: url("./../../assets/icons/arrow-right-circle.svg") !important;
}
.carousel-control-prev-icon,.carousel-control-next-icon::after{
    content: none;
    background-image: none;
    color: teal;
}