.p-login{
	box-shadow:0 12px 15px 0 rgba(0,0,0,.34),0 17px 50px 0 rgba(0,0,0,.19);
    font-family: myFirstFont,'Goblin One', cursive;;
    direction: rtl;
    text-align: right;
    border-radius: 0.5rem;
    padding: 10%;
    height: 90vh;
}
.bg-p-login{
    background:url('../../assets/images/pexels-deeana-creates-1646953.jpg')no-repeat center;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.p-login .p-login-title{
    text-align: center;
}

.p-login .submit-btn-login{
    background-image: radial-gradient(pink, white);
    color: black !important;
    border:transparent !important;
    margin-top: 20px;
}

.p-login .form-login{
    width: 90%;
    height: 90%;
    padding-top: 0;
}

.p-login .form-label{
    font-size: 1.2rem;
    margin-top: 0.5rem;
}
 
.p-login .eng.placeholder{
    font-size: 0.8rem;
}

.p-login .alert{
    font-size: 0.8rem;
}