
.p-homepage .img-card:hover{
    cursor: grab;
}
.p-homepage .img-card{
    margin:10px;
    border: groove 5px rgba(238, 181, 181,0.7) !important;
    width: 90%;
    object-fit: contain;
    border: outset 5px grey;
}

    

.p-homepage .img-paint{
    width: 100%;
    object-fit: contain;
}

.p-homepage{
    background-image: linear-gradient(rgba(235, 209, 213,0.5) , rgba(235, 250, 213,0.5) ,rgba(200, 209, 250,0.2) ,white);
}