
.img-card:hover{
    cursor: grab;
}
.img-card{
    margin:10px;
    border: groove 5px rgba(238, 181, 181,0.7) !important;
    width: auto;
    height: auto;
}

.p-homepage{
    background-image: linear-gradient(rgba(235, 209, 213,0.5) , rgba(235, 250, 213,0.5) ,rgba(200, 209, 250,0.2) ,white);
}